* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    font-family: 'poppins';
    width: 99.99%;
}
@media screen and (max-width: 600px) {
    body {
        font-family: 'poppins';
        width: 80%;
}}

header {
    background: linear-gradient(to right, white 0%, white 55%, black 55%, black 100%);
    /* height: 100vh; */
}

.navbar {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    padding: 0 2.5%;
}

.navlink {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-gap: 30px;
    align-items: center;
    font-size: 18px;
}

.sign_up {
    background: white;
    padding: 15px 25px;
    text-align: center;
    border-radius: 5px;
}

.navlink li a {
    color: black;
    text-decoration: none;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2.5%;
    align-items: center;
}

.hero_text {
    align-items: center;
}

.htext {
    font-size: 48px;
    /* width: 50%; */
    margin: 10px 0;
}

.get_btn {
    background-color: black;
    border: none;
    border-radius: 7px;
    color: white;
    align-items: center;
    padding: 20px 35px;
    display: flex;
    margin: 20px 0;
    font-size: 20px;
}

/* Osgood CSS section */

@font-face{
    font-family: poppins;
    src: url(“poppins/Poppins-Regular.ttf”)
}

.top{
    text-align: center;
    margin-bottom: 2em;
    font-weight: bold;
    font-size: larger;
}

.grid-container{
    display: grid;
    grid-template-areas: 
    'a b c'
    'd b e'
    'f b g'
    'h b i'
    'j b k';
    margin: 0 auto;
}
@media screen and (max-width: 600px) {
    .grid-container{
        display: grid;
        grid-template-areas: 
        'a c'
        'd e'
        'b b'
        'f g'
        'h i'
        'j k';
        margin: 0 auto;
        width: fit-content;
    }
}

.item1{
    grid-area: a;
}

.item2{
    grid-area: d;
}

.item3{
    grid-area: f;
}

.item4{
    grid-area: b;
    width: 10%;
}

.item5{
    grid-area: c;
}

.item6{
    grid-area: e;
}

.item7{
    grid: g;
}

.item8{
    grid-area: h;
}

.item9{
    grid-area: j;
}

.item10{
    grid-area: i;
}

.item11{
    grid-area: k;
}

.iphone-img{
    height: 46em;
}

.flex{
    height: 52px;
    width: 52px;
}

.item1, .item2, .item3, .item5, .item6, .item7, .item8, .item9, .item10, .item11{
    display: flex;
    align-items: center;
}
@media screen and (max-width: 600px) {
    .item1, .item2, .item3, .item5, .item6, .item7, .item8, .item9, .item10, .item11{
        display: flex;
        align-items: center;
        width: 50%;
    }
}

.string{
    width: 10em;
    height: 12em;
    position: absolute;
    right: 0;
    bottom: 20px;
}

.grid2{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 8px;
}

.grid-container2{
    background-color: #FAB721;
}

.contact-button{
    padding: 16px;
    border-radius: 8px;
    width: 12em;
    border-color: #fff;
}

.par-text1{
    font-weight: bold;
    font-size: 1.8em;
}

.par-text2{
    color: #fff;
    margin-left: 4em;
}

footer{
    background-color: #000;
}

.footer-section{
    color: #fff;
    padding-bottom: 20px;
    padding-top: 15px;
    display: flex;
    margin-top: 12em;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.logo1{
    width: 130px;
    height: 100px;
}

.flex1{
    color: rgb(83, 197, 83);
    column-gap: 10px;
}

.space{
    margin-top: 30px;
}

.copyright-section{
    color: #fff;
    font-size: larger;
}

.flex2{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.copyright-text{
    color: rgb(83, 197, 83);"
    margin-left: 20px;
    margin-right: 20px;
}

/* end of Osgood CSS section */

/* this is the begining of Taiwo css section */

.firstSection{
    position: relative;
}


.firstSection h1{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 40px;
}
@media screen and (max-width: 600px) {
    .firstSection h1{
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        font-size: 25px;
    
    }
}

.firstSection .curly{
    width: 10%;
    height: 4%;
}
.firstSection .starr{
    margin-left: 60%;
}

.secondSection .daily{
    width: 40%;
    height: 100%;
    margin-inline: 15%;
}

@media screen and (max-width: 600px) {
    .secondSection .daily{
        width: 90%;
        height: 110%;
        
    }
}

div.secondSection {
    display: flex ;
    justify-content: center;
    margin-top: 0%;
    margin-left: 20%;
    font-size: 130%;
    width: fit-content;
    top: 50%;
    word-wrap: break-word;
}

@media screen and (max-width: 600px) {
    div.secondSection {
        display: grid ;
        justify-content: center;
        margin-top: 0%;
        margin-left: 10%;
        font-size: 110%;
        width: fit-content;
        top: 50%;
    }
}

.star{
    margin-left: 50%;
}

@media screen and (max-width: 600px) {
    .star{
        margin-left: 40%;
    }  
}

/*This is the end of Taiwo css section */

/* This is Wisdom css section */


  
  
  .connect {
    display: flex ;
    justify-content: center;
    margin-top: 0%;
    margin-bottom: 5%;
  
  }
  @media screen and (max-width: 600px) {
  div.connect{
    display: grid;
    justify-content: center;
    margin-top: 0%;
    margin-bottom: 5%;
  }

  }
 
  
  
  .con {
    width: 60%;
    height: 90%;
    margin-left: 15%;
    
  }
  @media screen and (max-width: 600px) {
    .con {
    width: 90%;
    height: 110%;
  }
  }

  .connect1{
    
    margin-top: 10%;
    width: 150%;
    
    
  }
  .connect1 h3{
    text-decoration: solid;
    font-size: 190%;
  }
  
   .connect a{
    text-decoration-line: none;
    background-color: #00A66A;
    color: aliceblue;
    margin-right: 65%;
    display: block;
    width: 15%;
    height: 10%;
    border-radius: 5px;
     font-size: 15px;
    font-weight: 200;
    margin-top: 0%;
  }
  @media screen and (max-width: 600px) {
    .connect a{
        margin-left: 10%;
        width: 20%;
        
    }
  }
 




  .visa{
    width: 20%;
    height: 40%;
  }
  @media screen and (max-width: 600px) {
    .visa{
        width: 40%;
        height: 40%;
     
      }

}
  /*end of Wisdom css section */