* {
    box-sizing: border-box;
}

body{
    margin: 0%;
    padding: 0%;
}
@import url('https://fonts.google.com/css?family=Poppins');
body {
    font-family: 'poppins';
    
}

/* the header section css code */
.hero_text {
    align-items: center;
    }
    .hero {
        justify-content: center;
    display: flex;
    align-items: center;
    }
    @media screen and (max-width: 600px) {
     div.hero  {
        display: grid;
    justify-content: center;
    display: none;
        }}
    .paragraph1{
         font-family: 'Poppins';
    }
   .paragraph2{
      font-family: 'Poppins';
       font-size: 22px;
       }
   .htext {
       font-family: 'poppins';
       font-size: 65px;
      }
   
   .get_btn {
       background-color: black;
       color: white;
       align-items: center;
       padding: 20px 35px;
        font-family: poppins;
       font-size: 20px;
       border-radius: 10px;
       }
       @media screen and (min-width: 600px) {
       .girlimage {
        display: none;
        }
      }
      @media screen and (max-width: 600px) {
      .girlimage {
        width: 100%;
        height: 100%;
      }
    }
   /* the end pf header section css code */
  
   







/* this is the navbar css properties */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.loggo {
    font-size: 1.5rem;
    margin: .5rem;
}
.navlink ul {
margin: 0%;
padding: 0;
display: flex;
}
.navlink ul li {
    padding: 0px 45px;
}
.navlink li {
    list-style: none;
    
}
.navlink li a {
    text-decoration: none;
    color: black;
    padding: 0.5rem;
    display: block;
}
.signup {
    background-color: #09A96F;
}
@media screen and (max-width: 600px) {
    .signup {background-color: black;}
}


/* this is end of the navbar css properties */

/* TOGGLE BUTTON responsivness CSS CODE */
.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    margin-top: 7%;
  }
  .toggle-button .bar {
    height: 3px;
     width: 100%;
     background-color: #FEB102;
     border-radius: 10px;
    

  }
  @media (max-width: 600px ) {
    .toggle-button{
        display: flex;

    }
    .navlink {
        display: none;
        width: 100%;
        background-color: black;
        
    }
   

    .navbar {
        flex-direction:column;
        display: grid;
        align-items: flex-start;
         

    }
    .navlink ul {
        flex-direction: column;
        
    }

    .navlink li{
        text-align: center;
    }
    .navlink li a {
        padding: .5rem 1rem;
        color: white;
    }
    .navlink.active {
        display: flex;
    }
    }
  /* end of  TOGGLE BUTTON responsivness CSS CODE */


/* Osgood CSS section */

@font-face{
    font-family: poppins;
    src: url(“poppins/Poppins-Regular.ttf”)
}

.top{
    text-align: center;
    margin-bottom: 2em;
    font-weight: bold;
    font-size: larger;
    
}

.grid-container{
    display: grid;
    grid-template-areas: 
    'a b c'
    'd b e'
    'f b g'
    'h b i'
    'j b k';
    
    left: 517px;
    right: 517px;
    
}
@media screen and (max-width: 600px) {
    .grid-container{
        display: grid;
        grid-template-areas: 
        'a c'
        'd e'
        'b b'
        'f g'
        'h i'
        'j k';
        margin: 0 auto;
        width: fit-content;
    }
}

.item1{
    grid-area: a;
}

.item2{
    grid-area: d;
}

.item3{
    grid-area: f;
}

.item4{
    grid-area: b;
    width: 10%;
}

.item5{
    grid-area: c;
}

.item6{
    grid-area: e;
}

.item7{
    grid: g;
}

.item8{
    grid-area: h;
}

.item9{
    grid-area: j;
}

.item10{
    grid-area: i;
}

.item11{
    grid-area: k;
}

.iphone-img{
    height: 46em;
}

.flex{
    height: 52px;
    width: 52px;
    margin-left: 120px;
}

.item1, .item2, .item3, .item5, .item6, .item7, .item8, .item9, .item10, .item11{
    display: flex;
    align-items: center;
}
@media screen and (max-width: 600px) {
    .item1, .item2, .item3, .item5, .item6, .item7, .item8, .item9, .item10, .item11{
        display: flex;
        align-items: center;
        width: 50%;
    }
}

.string{
    width: 10em;
    height: 12em;
    position: absolute;
    right: 0;
    bottom: 20px;
}

.grid2{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 8px;
    margin-top: 10em;
    height: 280px;
    place-content: center;

}

.grid-container2{
    background-color: #FAB721;
}

.contact-button{
    padding: 16px;
    border-radius: 8px;
    width: 12em;
    border-color: #fff;
}

.par-text1{
    font-weight: bold;
    font-size: 1.8em;
}

.par-text2{
    color: #fff;
    margin-left: 4em;
}

footer{
    background-color: #000000;
}
.learn{
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 211px;
    height: 78px;
    left: 630px;
    
    padding:  17px;
    margin-bottom: 30px;
    background: #00A66A;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    width: 150px;
    height: 48px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    text-align: center;
    font-size: 27px;
    line-height: 177.02%;
   
    color: #FFFFFF;
}
.footer-section{
    color: #fff;
    padding-bottom: 20px;
    padding-top: 15px;
    display: flex;
    margin-top: 12em;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.logo1{
    width: 130px;
    height: 100px;
}

.flex1{
    color: #00A86B;
    column-gap: 10px;
}

.space{
    margin-top: 30px;
}

.copyright-section{
    color: #fff;
    font-size: larger;
}

.flex2{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.copyright-text{
    color: #FAB721;
    margin-left: 20px;
    margin-right: 20px;
}

/* end of Osgood CSS section */

/* this is the begining of Taiwo css section */

.firstSection{
    position: relative;
}


.firstSection h1{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 40px;
}
@media screen and (max-width: 600px) {
    .firstSection h1{
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        font-size: 25px;
    
    }
}

.firstSection .curly{
    width: 10%;
    height: 4%;
}
.firstSection .starr{
    margin-left: 60%;
}

.secondSection .daily{
    width: 40%;
    height: 100%;
    margin-inline: 15%;
}

@media screen and (max-width: 600px) {
    .secondSection .daily{
        width: 90%;
        height: 110%;
        
    }
}

div.secondSection {
    display: flex ;
    justify-content: center;
    margin-top: 0%;
    margin-left: 20%;
    font-size: 130%;
    width: fit-content;
    top: 50%;
    word-wrap: break-word;
}

@media screen and (max-width: 600px) {
    div.secondSection {
        display: grid ;
        justify-content: center;
        margin-top: 0%;
        margin-left: 10%;
        font-size: 110%;
        width: fit-content;
        top: 50%;
    }
}

.star{
    margin-left: 50%;
}

@media screen and (max-width: 600px) {
    .star{
        margin-left: 40%;
    }  
}

/*This is the end of Taiwo css section */

/* This is Wisdom css section */


  
  
  .connect {
    display: flex ;
    justify-content: center;
    margin-top: 0%;
    margin-bottom: 5%;
  
  }
  @media screen and (max-width: 600px) {
  div.connect{
    display: grid;
    justify-content: center;
    margin-top: 0%;
    margin-bottom: 5%;
  }

  }
 
  
  
  .con {
    width: 60%;
    height: 90%;
    margin-left: 15%;
    
  }
  @media screen and (max-width: 600px) {
    .con {
    width: 90%;
    height: 110%;
  }
  }

  .connect1{
    
    margin-top: 10%;
    width: 150%;
    
    
  }
  .connect1 h3{
    text-decoration: solid;
    font-size: 190%;
  }
  
   .connect a{
    text-decoration-line: none;
    background-color: #00A66A;
    color: aliceblue;
    margin-right: 65%;
    display: block;
    width: 15%;
    height: 10%;
    border-radius: 5px;
     font-size: 15px;
    font-weight: 200;
    margin-top: 0%;
  }
  @media screen and (max-width: 600px) {
    .connect a{
        margin-left: 10%;
        width: 20%;
        
    }
  }
 




  .visa{
    width: 20%;
    height: 40%;
  }
  @media screen and (max-width: 600px) {
    .visa{
        width: 40%;
        height: 40%;
     
      }

}
  /*end of Wisdom css section */


  