* {
    box-sizing: border-box;
    
}

body{
    margin: 0%;
    padding: 0%;
  
}
@import url('https://fonts.google.com/css?family=Poppins');
body {
    font-family: 'poppins';
    
}

/* the header section css code */
.hero_text {
    align-items: center;
    margin-bottom: 10%;
    }
    .hero {
        justify-content: center;
    display: flex;
    align-items: center;
    }
    @media screen and (max-width: 600px) {
     div.hero  {
        display: grid;
    justify-content: center;
    display: none;
        }}
    .paragraph1{
         font-family: 'Poppins';
    }
   .paragraph2{
    font-family: 'poppins';
    font-size: 19px;
    
       }
   .htext {
       font-family: 'poppins';
       font-size: 48px;
       
      }
   
   .get_btn {
       background-color: black;
       color: white;
       align-items: center;
       padding: 20px 35px;
        font-family: poppins;
       font-size: 20px;
       border-radius: 10px;
       }
       @media screen and (min-width: 600px) {
       .girlimage {
        display: none;
        }
      }
      @media screen and (max-width: 600px) {
      .girlimage {
        width: 100%;
        height: 100%;
      }
    }
   /* the end of header section css code */
  
   







/* this is the navbar css properties */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.loggo {
    font-size: 1.5rem;
    margin: .5rem;
}
.navlink ul {
margin: 0%;
padding: 0;
display: flex;
}
.navlink ul li {
    padding: 0px 45px;
}
.navlink li {
    list-style: none;
    
}
.navlink li a {
    text-decoration: none;
    color: black;
    padding: 0.5rem;
    display: block;
}
.signup {
    background-color: #09A96F;
}
@media screen and (max-width: 600px) {
    .signup {background-color: black;}
}


/* this is end of the navbar css properties */

/* TOGGLE BUTTON responsivness CSS CODE */
.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    margin-top: 7%;
  }
  .toggle-button .bar {
    height: 3px;
     width: 100%;
     background-color: #FEB102;
     border-radius: 10px;
    

  }
  @media (max-width: 600px ) {
    .toggle-button{
        display: flex;
        
        
    }
    .navlink {
        display: none;
        width: 50%;
        
        background-color: black;
        border-radius: 14px 0px 0px 14px;
       
        
    }
   

    .navbar {
        
        flex-direction: row;
        display: flex;
        align-items: flex-start;
         

    }
    .navlink ul {
        flex-direction: column;
        
    }

    .navlink li{
        text-align: left;
    }
    .navlink li a {
        padding: .5rem 1rem;
        color: white;
    }
    .navlink.active {
        display: flex;
    }
    }
  /* end of  TOGGLE BUTTON responsivness CSS CODE */

/* TAIWO modified thi CSS section */

section {
    display: flex;
    margin-left: 2%;
}
@media screen and (max-width: 600px) {
    section {
        display: inline;
        
    }
}
.rd{
    width: 412px;
height: 114px;
left: 514px;
top: 1779px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 177.02%;
text-align: center;
margin-left: 35%;
margin-bottom: 3%;
}
@media screen and (max-width: 600px) {
    .rd{
        width: 190px;
height: 40px;
top: 675px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 135.52%;
color: #FEBB21;
margin-left: 28%;

}}
.phonex {
    width: 400px;
height: 680px;
left: 517px;
top: 1953px;
}
@media screen and (max-width: 600px) {
    .phonex{
        width: 200px;
        height: 380px;
        left: 517px;
        top: 1953px; 
        margin-left: 15%;
    }
}
.rec4 {
    width: 89px;
height: 89px;
left: 67px;
top: 2044px;
}
@media screen and (max-width: 600px) {
    .rec4{
        width: 40px;
height: 40px;
left: 104px;
top: 745px
    }
}
.rec1{
    width: 312px;
height: 70px;
left: 206px;
top: 2054px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 177.02%;
margin-left: 15%;
}
@media screen and (max-width: 600px) {
    .rec1{
        width: 147px;
height: 63px;
left: 162.41px;
top: 733px;

font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 177.02%;
    }
}
span >div {
    display: flex;
   }
   @media screen and (max-width: 600px) {
    span >div {
        width: 205.41px;
height: 63px;
left: 104px;
top: 733px;
margin-left: 15%;

       }
   }
.rect5{
    width: 89px;
height: 89px;
left: 967px;
top: 2044px;
}
@media screen and (max-width: 600px) {
    .rect5{
        width: 40px;
height: 40px;
left: 104px;
top: 745px
    }
}
.rect2{
    width: 250px;
    height: 70px;
    left: 1106px;
    top: 2054px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 177.02%;
    margin-left: 15%;
}
@media screen and (max-width: 600px) {
    .rect2{
        width: 147px;
height: 63px;
left: 162.41px;
top: 733px;

font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 177.02%;
    }
}
.spann{
    margin-top: 6%;
    margin-left: 3%;
}
.spannn {
    margin-top: 6%;
    margin-left: 3%;
}



/* TAIWO modified thi CSS section */


/* Osgood CSS section */


.grid2{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 8px;
    margin-top: 10em;
    height: 280px;
    place-content: center;

}

.grid-container2{
    background-color: #FAB721;
}

.contact-button{
    padding: 16px;
    border-radius: 8px;
    width: 12em;
    border-color: #fff;
}

.par-text1{
    font-weight: bold;
    font-size: 1.8em;
}

.par-text2{
    color: #fff;
    margin-left: 4em;
}

footer{
    background-color: #000000;
}
.learn{
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 211px;
    height: 78px;
    left: 630px;
    
    padding:  17px;
    margin-bottom: 30px;
    background: #00A66A;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    width: 150px;
    height: 48px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    text-align: center;
    font-size: 27px;
    line-height: 177.02%;
   
    color: #FFFFFF;
}
.footer-section{
    color: #fff;
    padding-bottom: 20px;
    padding-top: 15px;
    display: flex;
    margin-top: 12em;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.logo1{
    width: 130px;
    height: 100px;
}

.flex1{
    color: #00A86B;
    column-gap: 10px;
}

.space{
    margin-top: 30px;
}

.copyright-section{
    color: #fff;
    font-size: larger;
}

.flex2{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.copyright-text{
    color: #FAB721;
    margin-left: 20px;
    margin-right: 20px;
}

/* end of Osgood CSS section */

/* this is the begining of Taiwo css section */

.firstSection{
    display: flex;
    
    
}

.firstSection .curly{
   height: 0%;
    width: 10%;
}




.firstSection h1{
    width: 412px;
    margin-left: 20%;
    margin-top: 15%;



font-family: 'Poppins';
font-style: normal;
font-weight: 10px;
font-size: 35px;
text-align: center;
}
@media screen and (max-width: 600px) {
    .firstSection h1{
      margin-left: 0%;
        top: 50%;
        text-align: center;
        font-size: 20px;
        margin-bottom: 10%;
    
    }
}


.firstSection .starr{
    margin-left: 790%;
    margin-top: 660%;
}
@media screen and (max-width: 600px) {
    .firstSection .starr{
        display: none;
    }}
.firstSection .curly{
    height: 0%;
     width: 10%;
 }
.secondSection p{
    width: 560px;

  left: 0px;

font-family: 'Poppins';
font-style: normal;
font-size: 23px;
}
@media screen and (max-width: 600px) {
    .secondSection p{
        width: 200px;
        font-size: 16px;
        line-height: 150%;
    }}
.secondSection p::before{
    content: ".";
    font-size: 50px;
    align-items: center;
    margin-right: 0.5%;
    line-height: 0%;
}
.secondSection h1{
    width: 450px;

left: 0px;


font-family: 'Poppins';
font-style: normal;
font-weight: 0;
font-size: 40px;
margin-top: 25%;
line-height: 0%;

}
@media screen and (max-width: 600px) {
    .secondSection h1{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 22px;
margin-top: 0%;

}}

.daily{
    width: 446px;
    height: 544px;
    margin-left: 5%;
    top: 2938px;
    
}

@media screen and (max-width: 600px) {
    .secondSection .daily{
        width: 70%;
        height: 100%;
        margin-left: 0%;
        
    }
}

div.secondSection {
    display: flex ;
    margin-left: 5%;
    margin-top: 0%;
    
   
}

@media screen and (max-width: 600px) {
    div.secondSection {
        display: grid ;
        
        
        margin-left: 10%;
        font-size: 30%;
        width: fit-content;
       
    }
}

.star{
    margin-left: 50%;
    
}

@media screen and (max-width: 600px) {
    .star{
        display: none;
    }  
}

/*This is the end of Taiwo css section */

/* This is Wisdom css section */


  
  
  .connect {
    display: flex ;
    justify-content: center;
    margin-top: 0%;
    margin-bottom: 5%;
  
  }
  @media screen and (max-width: 600px) {
  div.connect{
    display: grid;
    justify-content: center;
    margin-top: 0%;
    margin-bottom: 5%;
  }

  }
 
  
  
  .con {
    width: 658.76px;
    height: 625.94px;
    left: 45px;
    top: 940px;
    
  }
  @media screen and (max-width: 600px) {
    .con {
    width: 90%;
    height: 110%;
    margin-left: 5%;
  }
  }

  .connect1{
    margin-top: 8%;
    width: 150%;
    
    
  }
  @media screen and (max-width: 600px) {
    .connect1{
        text-align: center;
        width: 100%;
    }
  }
  .connect1 h3{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
  }
  @media screen and (max-width: 600px) {
    .connect1 h3{
    font-style: normal;
    font-size: 25px;
    
    font-weight: 600;
}
  }
 
  .connect1 p {
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 177.02%;
}
@media screen and (max-width: 600px) {
    .connect1 p {
        font-style: normal;
        font-size: 10px;
        line-height: 150%;


}}
  
 .learnmore{
  margin-top: 10%;
 }
 @media screen and (max-width: 600px) {
    .learnmore {
        display: none;

     }
}
 
  .visa{
   
    left: 58.68%;
    right: 37.17%;
    top: 30%;
    bottom: 69.01%;
  }
  @media screen and (max-width: 600px) {
    .visa {
       display: none;
     }
}
.mastercard{
    left: 58.68%;
right: 37.17%;
top: 30%;
bottom: 69.01%;
margin-left: 8%;
}
@media screen and (max-width: 600px) {
    .mastercard{
       display: none;
     
      }

}
  /*end of Wisdom css section */


 