*{
    
  box-sizing: border-box;
  
}
body{
  margin: 0px;
  padding: 0px;
}
section {
  display: flex;
}
@media screen and (max-width: 600px) {
  section {
      display: inline;
  }
}
.wel{
  background-image: url("./Images/Rectangle 13.png");
  background-size: cover;
width: 717px;
height: 1024px;

}
@media screen and (max-width: 600px) {
  .wel{
      background-image: url("./Images/Rectangle 13M.png");
      background-size: cover;
     
width: 100%;
height: 100%;        
      }
}
.wel1{
  width: 430px;
height: 69px;
left: 144px;
top: 305px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 57.0526px;
line-height: 69px;
color: #00A86B;
margin-top: 21%;
margin-left: 27%;
}
@media screen and (max-width: 600px) {
  .wel1{
      width: 241px;
height: 39px;
left: 95px;
top: 81px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 39px;
color: #00A86B;
margin-top: 0%;

  }
}
.welll{
  width: 310px;
height: 149.34px;
left: 49px;
top: 33px;
margin-left: 5%;
}
@media screen and (max-width: 600px) {
  .welll{
      width: 430px;
height: 296px;
      
      margin-left: 0%;  
  }
}
.wel2{
  width: 542px;
height: 98px;
left: 88px;
top: 461px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32.0921px;
line-height: 153.52%;
text-align: center;
color: #01A86E;
margin-left: 17%;
margin-top: 13%;

}
@media screen and (max-width: 600px) {
  .wel2{
    width: 354px;
    height: 48px;
    left: 38px;
    top: 130px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 153.52%;
    
    
    text-align: center;
margin-top: 0%;
margin-left: 10%;
  }
}
.wel3{
  width: 384.63px;
height: 87px;
left: 167px;
top: 635px;
margin-top: 10%;
margin-left: 27%;
}
@media screen and (max-width: 600px) {
  .wel3{
      width: 203.37px;
height: 46px;
margin-top: 5%;
margin-bottom: 15%;


  }
}
h2{
  width: 491px;
height: 77px;
left: 837px;
top: 81px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 77px;

color: #FEBB21;
margin-left: 20%;
margin-top: 17%;
}
@media screen and (max-width: 600px) {
  h2{
      width: 246px;
height: 39px;
left: 91px;
top: 325px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 39px;
  }
}
.socials{
 margin-left: 30%;
  margin-top: 20%;
}
@media screen and (max-width: 600px) {
  .socials{
      margin-left: 20%;
       margin-top: 5%;
   }
}

.socials a{
  margin: 5%;
}
.faceebook{
  margin-right: 5%;
}
@media screen and (max-width: 600px) {
  .faceebook{
      width: 5%;
  }
}
form{
  margin-top: 17%;
  margin-left: 15%;
  }
  @media screen and (max-width: 600px) {
      form{
          margin-top: 8%;
          margin-left: 15%;
      }
  }

.input-icons i {
  position: absolute;
  margin-top: 1%;
 
}

.input-icons {

  margin-bottom: 5%;
  
}


.icon {
  padding: 10px;
  
 
  
}

.input-field {
  border: none;
  font-size: 150%;
  width: 504px;
height: 61.38px;
background: #F6F6F6;
text-align: center;
}
@media screen and (max-width: 600px) {
  .input-field{
      width: 280.1px;
height: 50.27px;
font-size: 80%;

  }
}
.signupbutton {
  margin-top: 10%;
  margin-left: 10%;
}
@media screen and (max-width: 600px) {
  .signupbutton{
      width: 237.59px;
height: 53.74px;
margin-top: 0%;
margin-bottom: 15%;
  }
}